@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);

  --border-style: 4px solid lightgray;
  --border-vertical: 15%;
  --border-horizontal: 20%;

  clip-path: polygon(
    0% 0%,
    0% 100%,
    21% 100%,
    21% 17%,
    79% 17%,
    79% 83%,
    11% 83%,
    10% 100%,
    100% 100%,
    100% 0%
  );
}
/*
    0% 0%,  top left 
    0% 100%, bottom left 
    25% 100%, left connector 
    25% 25%, inner top left 
    75% 25%, inner top right 
    75% 75%, inner bottom right 
    25% 75%, inner bottom left 
    25% 100%, bottom right connector 
    100% 100%, bottom right 
    100% 0%   top right
    */

.success {
  --border-style: 4px solid limegreen;
}

.overlay-element {
  position: absolute;
  width: 15%; /* controls the length of the borders */
  height: 10%; /* controls the height of the borders */
}

.overlay .top-left {
  border-left: var(--border-style);
  border-top: var(--border-style);
  top: var(--border-vertical);
  left: var(--border-horizontal);
}

.overlay .top-right {
  border-right: var(--border-style);
  border-top: var(--border-style);
  top: var(--border-vertical);
  right: var(--border-horizontal);
}

.overlay .bottom-left {
  border-left: var(--border-style);
  border-bottom: var(--border-style);
  bottom: var(--border-vertical);
  left: var(--border-horizontal);
}

.overlay .bottom-right {
  border-right: var(--border-style);
  border-bottom: var(--border-style);
  bottom: var(--border-vertical);
  right: var(--border-horizontal);
}
